
/* GENERIC */

.row{
    color: #fff;
}

.homework > .row{
    
    margin-top: 20px;
}

section{
    margin-bottom: 20px;
}

.row > [class^="col"]{
    background-color: #006CFA;
    border: 1px solid #fff;
    min-height: 50px;
}

.row .nested{
    background-color: #00E165;
    border: 1px solid #006CFA;
}
